.u-section-1 .u-sheet-1 {
  min-height: 567px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 366px;
  margin: -14px auto 0;
}

.u-section-1 .u-text-1 {
  width: 392px;
  margin: -32px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(#db545a, #a35559);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 14px auto 60px;
  padding: 8px 51px 9px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-top: 334px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 146px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 346px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -12px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 218px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 116px;
    width: 340px;
  }
}